[submodule "tools/scripts"]
	path = tools/scripts
	url = git@github.com:dwilson2547/scripts.git
[submodule "tools/chrome-extensions"]
	path = tools/chrome-extensions
	url = git@github.com:dwilson2547/chrome_extensions.git
[submodule "tools/potree"]
	path = tools/potree
	url = git@github.com:dwilson2547/potree.git
[submodule "media/photo-dump"]
	path = media/photo-dump
	url = git@github.com:dwilson2547/photo_dump.git
[submodule "archive/parts-interchange"]
	path = archive/parts-interchange
	url = git@github.com:dwilson2547/parts_interchange.git
[submodule "archive/legacy"]
	path = archive/legacy
	url = git@github.com:dwilson2547/legacy.git
[submodule "archive/wiki-demo"]
	path = archive/wiki-demo
	url = git@github.com:dwilson2547/wiki_demo.git
[submodule "experiments/pocs"]
	path = experiments/pocs
	url = git@github.com:dwilson2547/pocs.git
[submodule "tools/auto-dbms-from-sql"]
	path = tools/auto-dbms-from-sql
	url = git@github.com:dwilson2547/auto_dbms_from_sql.git
[submodule "infra/helm"]
	path = infra/helm
	url = git@github.com:dwilson2547/helm.git
[submodule "ai/dan-wiki"]
	path = ai/dan-wiki
	url = git@github.com:dwilson2547/DanWiki.git
[submodule "archive/tool-wikis"]
	path = archive/tool-wikis
	url = git@github.com:dwilson2547/tool_wikis.git
[submodule "media/media-library-manager"]
	path = media/media-library-manager
	url = git@github.com:dwilson2547/media-library-manager.git
[submodule "tools/obsidian-plugins/obsidian-image-resizer"]
	path = tools/obsidian-plugins/obsidian-image-resizer
	url = git@github.com:dwilson2547/obsidian-image-resizer.git
[submodule "tools/obsidian-plugins/obsidian-shell-runner"]
	path = tools/obsidian-plugins/obsidian-shell-runner
	url = git@github.com:dwilson2547/obsidian-shell-runner.git
[submodule "tools/obsidian-plugins/obsidian-html-apps"]
	path = tools/obsidian-plugins/obsidian-html-apps
	url = git@github.com:dwilson2547/obsidian_html_apps.git
[submodule "experiments/testing/python-gherkin-testcontainers"]
	path = experiments/testing/python-gherkin-testcontainers
	url = git@github.com:dwilson2547/python-gherkin-testcontainers.git
[submodule "messaging/pub-sub-tools"]
	path = messaging/pub-sub-tools
	url = git@github.com:dwilson2547/pub-sub-tools.git
[submodule "messaging/sub-pub"]
	path = messaging/sub-pub
	url = git@github.com:dwilson2547/sub-pub.git
[submodule "messaging/pub-sub-perf-tool"]
	path = messaging/pub-sub-perf-tool
	url = git@github.com:dwilson2547/pub-sub-perf-tool.git
[submodule "messaging/iggy-poc"]
	path = messaging/iggy-poc
	url = git@github.com:dwilson2547/iggy-poc.git
[submodule "embedded/sensor-transposition"]
	path = embedded/sensor-transposition
	url = git@github.com:dwilson2547/sensor_transposition.git
[submodule "experiments/testing/k8s-sandbox"]
	path = experiments/testing/k8s-sandbox
	url = git@github.com:dwilson2547/k8s_sandbox.git
[submodule "tools/obsidian-plugins/obsidian-doc-puller"]
	path = tools/obsidian-plugins/obsidian-doc-puller
	url = git@github.com:dwilson2547/obsidian-doc-puller.git
[submodule "tools/obsidian-plugins/obsidian-monaco"]
	path = tools/obsidian-plugins/obsidian-monaco
	url = git@github.com:dwilson2547/obsidian-monaco.git
[submodule "automotive/gyopart"]
	path = automotive/gyopart
	url = git@github.com:dwilson2547/gyopart.git
[submodule "infra/cluster-config"]
	path = infra/cluster-config
	url = git@github.com:dwilson2547/cluster_config.git
[submodule "meta/SKILLS"]
	path = meta/SKILLS
	url = git@github.com:dwilson2547/SKILLS.git
[submodule "robotics/robo-services"]
	path = robotics/robo-services
	url = git@github.com:dwilson2547/robo-services.git
[submodule "embedded/ESP32RET"]
	path = embedded/ESP32RET
	url = git@github.com:dwilson2547/ESP32RET.git
[submodule "embedded/rtk-base-station"]
	path = embedded/rtk-base-station
	url = git@github.com:dwilson2547/rtk-base-station.git
[submodule "embedded/dbc-forge"]
	path = embedded/dbc-forge
	url = git@github.com:dwilson2547/dbc-forge.git
[submodule "embedded/can-simulator"]
	path = embedded/can-simulator
	url = git@github.com:dwilson2547/can-simulator.git
[submodule "embedded/media-remote"]
	path = embedded/media-remote
	url = git@github.com:dwilson2547/media-remote.git
[submodule "embedded/phone-dbc-repo"]
	path = embedded/phone-dbc-repo
	url = git@github.com:dwilson2547/dbc_companion.git
[submodule "embedded/rpi-camera"]
	path = embedded/rpi-camera
	url = git@github.com:dwilson2547/rpi_camera.git
[submodule "robotics/terrestrial-scanner"]
	path = robotics/terrestrial-scanner
	url = git@github.com:dwilson2547/terrestrial-scanner.git
[submodule "ai/face-app"]
	path = ai/face-app
	url = git@github.com:dwilson2547/face_app.git
[submodule "ai/image-tagger"]
	path = ai/image-tagger
	url = git@github.com:dwilson2547/image_tagger.git
[submodule "ai/model-test-scripts"]
	path = ai/model-test-scripts
	url = git@github.com:dwilson2547/model_test_scripts.git
[submodule "ai/image-analyzer"]
	path = ai/image-analyzer
	url = git@github.com:dwilson2547/image_analyzer.git
[submodule "archive/junkyard-inventory-scrapers"]
	path = archive/junkyard-inventory-scrapers
	url = git@github.com:dwilson2547/junkyard_inventory_scrapers.git
[submodule "archive/parts-direct"]
	path = archive/parts-direct
	url = git@github.com:dwilson2547/parts_direct.git
[submodule "web-scrapers/scrape-stack"]
	path = web-scrapers/scrape-stack
	url = git@github.com:dwilson2547/scrape_stack.git
[submodule "web-scrapers/scrape-job-manager"]
	path = web-scrapers/scrape-job-manager
	url = git@github.com:dwilson2547/scrape_job_manager.git
[submodule "automotive/autoevolution-scraper"]
	path = automotive/autoevolution-scraper
	url = git@github.com:dwilson2547/autoevolution_scraper.git
[submodule "automotive/rockauto"]
	path = automotive/rockauto
	url = git@github.com:dwilson2547/rockauto.git
[submodule "automotive/partsgeek-scraper"]
	path = automotive/partsgeek-scraper
	url = git@github.com:dwilson2547/partsgeek_scraper.git
[submodule "tools/nordvpn-proxy"]
	path = tools/nordvpn-proxy
	url = git@github.com:dwilson2547/nordvpn-proxy.git
[submodule "archive/context-store"]
	path = archive/context-store
	url = git@github.com:dwilson2547/context-store.git
[submodule "archive/ai-tool-docs"]
	path = archive/ai-tool-docs
	url = git@github.com:dwilson2547/ai_tool_docs.git
[submodule "archive/ai-notes-server"]
	path = archive/ai-notes-server
	url = git@github.com:dwilson2547/ai_notes_server.git
[submodule "robotics/livox_handheld_scanner"]
	path = robotics/livox_handheld_scanner
	url = git@github.com:dwilson2547/livox_handheld_scanner.git
[submodule "messaging/iggy-flink-poc"]
	path = messaging/iggy-flink-poc
	url = git@github.com:dwilson2547/Iggy-flink-poc.git
[submodule "messaging/pub-sub-kiss-icp"]
	path = messaging/pub-sub-kiss-icp
	url = git@github.com:dwilson2547/pub-sub-kiss-icp.git
[submodule "robotics/gis-speed-limit"]
	path = robotics/gis-speed-limit
	url = git@github.com:dwilson2547/gis-speed-limit.git
[submodule "archive/cache-browser"]
	path = archive/cache-browser
	url = git@github.com:dwilson2547/cache_browser.git
[submodule "archive/filecache"]
	path = archive/filecache
	url = git@github.com:dwilson2547/filecache.git
[submodule "archive/imgcache"]
	path = archive/imgcache
	url = git@github.com:dwilson2547/imgcache.git
[submodule "archive/vidcache"]
	path = archive/vidcache
	url = git@github.com:dwilson2547/vidcache.git
[submodule "archive/webcache"]
	path = archive/webcache
	url = git@github.com:dwilson2547/webcache.git
[submodule "archive/cache-client"]
	path = archive/cache-client
	url = git@github.com:dwilson2547/cache_client.git
[submodule "archive/request-authorization"]
	path = archive/request-authorization
	url = git@github.com:dwilson2547/request_authorization.git
[submodule "archive/http-test-service"]
	path = archive/http-test-service
	url = git@github.com:dwilson2547/http-test-service.git
[submodule "archive/rockauto-selenium-scraper"]
	path = archive/rockauto-selenium-scraper
	url = git@github.com:dwilson2547/rockauto_selenium_scraper.git
[submodule "archive/rockauto-requests-scraper"]
	path = archive/rockauto-requests-scraper
	url = git@github.com:dwilson2547/rockauto_requests_scraper.git
[submodule "archive/rockauto-api-scraper"]
	path = archive/rockauto-api-scraper
	url = git@github.com:dwilson2547/rockauto_api_scraper.git
[submodule "tools/gitignore-cli"]
	path = tools/gitignore-cli
	url = git@github.com:dwilson2547/gitignore-cli.git
[submodule "tools/command-builder-interactive"]
	path = tools/command-builder-interactive
	url = git@github.com:dwilson2547/Command-builder-interactive.git
[submodule "experiments/hom-tx-perf-test"]
	path = experiments/hom-tx-perf-test
	url = git@github.com:dwilson2547/Hom-tx-perf-test.git
[submodule "archive/web-scrapers"]
	path = archive/web-scrapers
	url = git@github.com:dwilson2547/web_scrapers.git
[submodule "archive/arduino-pi-projects"]
	path = archive/arduino-pi-projects
	url = git@github.com:dwilson2547/arduino_pi_projects.git
[submodule "docs/wiki"]
	path = docs/wiki
	url = git@github.com:dwilson2547/wiki.git
[submodule "docs/markdown-api"]
	path = docs/markdown-api
	url = git@github.com:dwilson2547/markdown_api.git
[submodule "docs/markdown-renderer"]
	path = docs/markdown-renderer
	url = git@github.com:dwilson2547/markdown_renderer.git
[submodule "docs/sidebar-generator"]
	path = docs/sidebar-generator
	url = git@github.com:dwilson2547/sidebar_generator.git
[submodule "docs/auto-doc"]
	path = docs/auto-doc
	url = git@github.com:dwilson2547/auto-doc.git
[submodule "ai/ai-projects"]
	path = ai/ai-projects
	url = git@github.com:dwilson2547/ai_projects.git
[submodule "infra/dwilson2547.github.io"]
	path = infra/dwilson2547.github.io
	url = git@github.com:dwilson2547/dwilson2547.github.io.git
[submodule "games/ecosystem_sim"]
	path = games/ecosystem_sim
	url = git@github.com:dwilson2547/ecosystem_sim.git
[submodule "games/Cascade"]
	path = games/Cascade
	url = git@github.com:dwilson2547/Cascade.git
[submodule "robotics/structured-light-scanner"]
	path = robotics/structured-light-scanner
	url = git@github.com:dwilson2547/structured_light_scanner.git
[submodule "private/private"]
	path = private/private
	url = git@github.com:dwilson2547/private.git
[submodule "ai/room-acoustics-sim"]
	path = ai/room-acoustics-sim
	url = git@github.com:dwilson2547/room-acoustic-sim.git
