[submodule "scripts"]
	path = scripts
	url = git@github.com:dwilson2547/scripts.git
[submodule "chrome_extensions"]
	path = chrome_extensions
	url = git@github.com:dwilson2547/chrome_extensions.git
[submodule "potree"]
	path = potree
	url = git@github.com:dwilson2547/potree.git
[submodule "photo_dump"]
	path = photo_dump
	url = git@github.com:dwilson2547/photo_dump.git
[submodule "dockers"]
	path = dockers
	url = git@github.com:dwilson2547/dockers.git
[submodule "parts_interchange"]
	path = parts_interchange
	url = git@github.com:dwilson2547/parts_interchange.git
[submodule "legacy"]
	path = legacy
	url = git@github.com:dwilson2547/legacy.git
[submodule "wiki_demo"]
	path = wiki_demo
	url = git@github.com:dwilson2547/wiki_demo.git
[submodule "ai_projects"]
	path = ai_projects
	url = git@github.com:dwilson2547/ai_projects.git
[submodule "arduino_pi_projects"]
	path = arduino_pi_projects
	url = git@github.com:dwilson2547/arduino_pi_projects.git
[submodule "pocs"]
	path = pocs
	url = git@github.com:dwilson2547/pocs.git
[submodule "auto_dbms_from_sql"]
	path = auto_dbms_from_sql
	url = git@github.com:dwilson2547/auto_dbms_from_sql.git
[submodule "web_scrapers"]
	path = web_scrapers
	url = git@github.com:dwilson2547/web_scrapers.git
[submodule "helm"]
	path = helm
	url = git@github.com:dwilson2547/helm.git
[submodule "DanWiki"]
	path = DanWiki
	url = git@github.com:dwilson2547/DanWiki.git
[submodule "tool_wikis"]
	path = tool_wikis
	url = git@github.com:dwilson2547/tool_wikis.git
[submodule "media-apps/media-library-manager"]
	path = media-apps/media-library-manager
	url = git@github.com:dwilson2547/media-library-manager.git
[submodule "obsidian_plugins/obsidian-image-resizer"]
	path = obsidian_plugins/obsidian-image-resizer
	url = git@github.com:dwilson2547/obsidian-image-resizer.git
[submodule "obsidian_plugins/obsidian-shell-runner"]
	path = obsidian_plugins/obsidian-shell-runner
	url = git@github.com:dwilson2547/obsidian-shell-runner.git
[submodule "obsidian_plugins/obsidian_html_apps"]
	path = obsidian_plugins/obsidian_html_apps
	url = git@github.com:dwilson2547/obsidian_html_apps.git
[submodule "testing/python-gherkin-testcontainers"]
	path = testing/python-gherkin-testcontainers
	url = git@github.com:dwilson2547/python-gherkin-testcontainers.git
[submodule "pub_sub/pub-sub-tools"]
	path = pub_sub/pub-sub-tools
	url = git@github.com:dwilson2547/pub-sub-tools.git
[submodule "pub_sub/sub-pub"]
	path = pub_sub/sub-pub
	url = git@github.com:dwilson2547/sub-pub.git
[submodule "pub_sub/pub-sub-perf-tool"]
	path = pub_sub/pub-sub-perf-tool
	url = git@github.com:dwilson2547/pub-sub-perf-tool.git
[submodule "pub_sub/iggy-poc"]
	path = pub_sub/iggy-poc
	url = git@github.com:dwilson2547/iggy-poc.git
[submodule "sensor_transposition"]
	path = sensor_transposition
	url = git@github.com:dwilson2547/sensor_transposition.git
[submodule "testing/k8s_sandbox"]
	path = testing/k8s_sandbox
	url = git@github.com:dwilson2547/k8s_sandbox.git
